<% if @recipe %>
  <form action="/recipes/<%= @recipe.id %>" method="post" id="edit">
    <input type="hidden" name="_method" value="put">
      <table>
        <tr>
          <td><label for="title">Title:</label></td>
          <td><input type="text" name="title" value="<%= @recipe.name %>"</td>
        </tr>
        <tr>
          <td><label for="title">Type: (Main/Dessert/Side)</label></td>
          <td><input type="text" name="type" value="<%= @recipe.type %>"></td>
        </tr>
        <tr>
          <td><label for="title">Serves:</label></td>
          <td><input type="text" name="serves" value="<%= @recipe.serves %>"></td>
        </tr>
        <tr>
          <td><label for="title">Protein Source:</label></td>
          <td><input type="text" name="protein_source" value="<%= @recipe.protein_source %>"></td>
        </tr>
        <tr>
          <td><label for="title">Prep Time:</label></td>
          <td><input type="text" name="prep_time" value="<%= @recipe.prep_time %>"></td>
        </tr>
        <tr>
          <td><label for="title">Cook Time:</label></td>
          <td><input type="text" name="cook_time" value="<%= @recipe.cook_time %>"></td>
        </tr>
        <tr>
          <td><label for="ingredients">Ingredients:</label></td>
          <td><input type="text" name="ingredients" value="<%= @recipe.ingredients %>"></td>
        </tr>
        <tr>
          <td><label for="instructions">Instructions:</label></td>
          <td><textarea name="instructions"><%= @recipe.instructions %></textarea></td>
        </tr>
        <tr>
          <!-- <td><input type="submit" value="+ Add Recipe"></td> -->
        </tr>
      </table>
      <input type="submit" value="Update Recipe">
  </form>
  <!-- <p><a href="/recipes/<%= @recipe.id %>/delete">Delete</a></p> -->
  <p><a href="/recipes">Cancel</a></p>
<% else %>
  <p>Recipe not found.</p>
<% end %>




<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>My Recipes - Edit Recipe</title>
  </head>
  <body>
    <h1>Edit Recipe</h1>
      <form method="post" action="/recipes/create">
        <table>
          <tr>
            <td><label for="title">Title:</label></td>
            <td><input type="text" name="title"></td>
          </tr>
          <tr>
            <td><label for="Title">Type: (Main/Dessert/Side)</label></td>
            <td><input type="text" name="type"></td>
          </tr>
          <tr>
            <td><label for="title">Protein Source:</label></td>
            <td><input type="text" name="protein_source"></td>
          </tr>
          <tr>
            <td><label for="title">Prep Time:</label></td>
            <td><input type="text" name="prep_time"></td>
          </tr>
          <tr>
            <td><label for="title">Cook Time:</label></td>
            <td><input type="text" name="cook_time"></td>
          </tr>
          <tr>
            <td><label for="ingredients">Ingredients:</label></td>
            <td><input type="text" name="ingredients"></td>
          </tr>
          <tr>
            <td><label for="instructions">Instructions:</label></td>
            <td><input type="text" name="instructions"></td>
          </tr>
          <tr>
            <td><input type="submit" value="+ Add Recipe"></td>
          </tr>
        </table>
      </form>
    <a href="/recipes">Back to Index</a>
  </body>
</html> -->
